<div class="container">
  <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h2>Here is your restaurant</h2>
        <h4><%= "Welcome to: #{@restaurant.name}" %></h4>
        <h4><%= "Type of food: #{@restaurant.category}" %></h4>
        <h4><%= "Address: #{@restaurant.address}" %></h4>
        <h4><%= "Contact: #{@restaurant.phone_number}" %></h4>
        <% @reviews.each do |review| %>
          <p><%="Review: #{review.content}"%></p>
          <p><%="Rating: #{review.rating}"%></p>
        <% end %>
        <%= link_to "New renew", new_restaurant_review_path(@restaurant) %>
    </div>
  </div>
</div>





